@tailwind base;
@tailwind components;
@tailwind utilities;

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   letter-spacing: 0.2em;
}

@keyframes slideFromLeft {
   0% {
      transform: translateX(-100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.slide-in-left {
   animation: 0.9s ease-out 0s 1 slideFromLeft;
}

@keyframes slideFromRight {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.slide-in-right {
   animation: 0.9s ease-out 0s 1 slideFromRight;
}

@keyframes slideFromBottom {
   0% {
      transform: translateY(100%);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

.slide-in-bottom {
   animation: 0.9s ease-out 0s 1 slideFromBottom;
}

@keyframes slideFromTop {
   0% {
      transform: translateY(-100%);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

.slide-in-top {
   animation: 0.9s ease-out 0s 1 slideFromTop;
}

.slide-bottom-infinite {
   animation: jump 1.5s infinite;
}

@keyframes jump {
   0% {
      transform: translateY(50%);
   }
   50% {
      transform: translateY(-50%);
   }
   100% {
      transform: translateY(50%);
   }
}

.jump-infinite {
   animation: jump 1.5s infinite;
}

@keyframes jumpReverse {
   0% {
      transform: translateY(-50%);
   }
   50% {
      transform: translateY(50%);
   }
   100% {
      transform: translateY(-50%);
   }
}

.slide-top-infinite {
   animation: jumpReverse 1.5s infinite;
}

.light .shadow-01 {
   box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.dark .shadow-01 {
   box-shadow: rgba(252, 250, 250, 0.788) 0px 4px 12px;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}
